
/* temporarily */

.searchbar-fold {
    display:none;
}
.show {
    display:contents;
}

.unfold {
    display:none;
}

/*main styling*/

@media screen and (min-width: 320px) {

    body {
        

        nav {
            display:none;
        }
    }
}

